/*
Title: Assignment 3.2
Author: Kimberly Pierce
Date: July 2020
Modified By: Kimberly Pierce
Description: Assignment 3.2 Passing Data to Routes, Part 1
*/


.container{
  margin: 5%;
}

figcaption{
  font-size: .75em;
}
