<!--
/*
============================================
; Title: Exercise 6.4 Input Properties
; Author: Kimberly Pierce
; Date: August 2020
; Modified By: Kimberly Pierce
; Description: Exercise 6.4 Input Properties
;===========================================
*/


-->
<div fxLayout="column">

  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">
    <mat-card-title>
      <img src="assets/not-found-image.png">
    </mat-card-title>
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>
</div>
