<!--
/*
Title: Assignment 4.2
Author: Kimberly Pierce
Date: July 2020
Modified By: Kimberly Pierce
Description: Exercise 4.2 - Inversion of Control and Dependency Injection
*/

-->

<div class="container">
  <div class="row" id="composer-list">
    <div class="col">
      <table class="table table-hover ">
        <thead class="table-info">
          <tr>
            <th scope="col">Composer ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Genre</th>
          </tr>
        </thead>
        <tbody *ngFor="let composer of composers"><!--iterate over composers array-->
          <tr>
            <td>
              <a routerLink = "/composer-details/{{ composer.composerId }}">
                {{ composer.composerId }}
              </a>
            </td>
            <td>{{ composer.fullName }}</td>
            <td>{{ composer.genre }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
