/*
============================================
; Title: Exercise 6.2 Output Properties
; Author: Kimberly Pierce
; Date: August 2020
; Modified By: Kimberly Pierce
; Description: Exercise 6.2 Output Properties
;===========================================
*/

.a-link{
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover{
  text-decoration: underline;
}
