<!--
/*
============================================
; Title: Exercise 6.2 Output Properties
; Author: Kimberly Pierce
; Date: August 2020
; Modified By: Kimberly Pierce
; Description: Exercise 6.2 Output Properties
;===========================================
*/
-->

<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="mat-elevation-z0">

      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
        Navigation
      </mat-card-title>
      <br>

      <mat-card-content class="align-center">
        <p>
          221 B Baker Street
        </p>
        <p>
          London, UK
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>

    <mat-card class="mat-elevation-z0">

      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br>
        <mat-card-content class="align-center">
          <p>
            Direct: 555-867-5309
          </p>
          <p>
            Toll-free: 1-800-867-5309
          </p>
          <p>
            Fax: 444-867-5309
          </p>
        </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<br>

<div fxLayout="column">
  <p style="text-align: center">
    Visit Us Online or At One of Our Locations Throughout the Metro Area
  </p>
</div>
