<!--
Title: Assignment 2.4
Author: Kimberly Pierce
Date: July 2020
Modified By: Kimberly Pierce
Description: Assignment 2.4 Routing in Action
-->


<div class="row" id="composer-table">


  <div class="col">
    <table class="table table-hover ">
      <thead class="table-info">

        <tr>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>address info goes here</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col">
    <table class="table table-hover ">
      <thead class="table-info">
        <tr>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>phone number info goes here</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
