/*
============================================
; Title: Exercise 7.2 - Reactive Forms
; Author: Kimberly Pierce
; Date: August 2020
; Modified By: Kimberly Pierce
; Description: Exercise 7.2 - Reactive Forms
;===========================================
*/


.logo{
  margin-top: 5px;
}

.main-container{
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
