
<!--
Title: Assignment 2.2
Author: Kimberly Pierce
Date: July 2020
Modified By: Kimberly Pierce
Description: Assignment 2.2 Navigation
-->



<br>
<nav class="navbar navbar-expand-lg navbar-light bg-dark-gray">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home </a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
      <a class="nav-item nav-link" routerLink="/contact">Contact Us</a>
    </div>
  </div>
</nav>
<br>

<div class="container">



<router-outlet></router-outlet><!--container for routes to display-->




</div>
