<!--
/*
Title: Assignment 4.3
Author: Kimberly Pierce
Date: July 2020
Modified By: Kimberly Pierce
Description: Exercise 4.3 - Handling Events with Observables
*/
-->

<div class="container">
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item">Name: {{ composer.fullName }}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <br>
    <a routerLink = "/composer-list" class="float-right">Return to Composer List</a>
  </div>
</div>
</div>
