/*
Title: Assignment 4.4
Author: Kimberly Pierce
Date: July 2020
Modified By: Kimberly Pierce
Description: Assignment 4.4 - Async Pipe
*/


.container{
  margin: 5%;
}

.textSearch {
  width: 30%;
  float: right;
  margin-bottom: 5px;
}
