/*
============================================
; Title: Exercise 6.2 Output Properties
; Author: Kimberly Pierce
; Date: August 2020
; Modified By: Kimberly Pierce
; Description: Exercise 6.2 Output Properties
;===========================================
*/

.about-columns {
  margin: 2%;
}

.about-columns img{
  max-width: 100%;
  margin-top: 2%;
}
