/*
============================================
; Title: Exercise 6.2 Output Properties
; Author: Kimberly Pierce
; Date: August 2020
; Modified By: Kimberly Pierce
; Description: Exercise 6.2 Output Properties
;===========================================
*/


@import './theme';

html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue{
  color: #2196F3;
}

.green{
  color: #66EB6A;
}

.attribution-link{
  text-decoration: none;
  color: white;
}

.attribution-link:hover{
  text-decoration: underline;
}

.card-title-icon{
  text-align: center;
}

.card-title-icon, .mat-icon{
  font-size: 72px;
}

.align-center{
  text-align: center;
}
