<!--
Title: Assignment 2.3
Author: Kimberly Pierce
Date: July 2020
Modified By: Kimberly Pierce
Description: Assignment 2.3 Data Binding
-->

<!--bind to new Person constructor myProfile -->
<ul class="list-group">
  <li class="list-group-item">Name: {{myProfile.fullName}}</li>
  <li class="list-group-item">Favorite Food: {{myProfile.favoriteFood}}</li>
  <li class="list-group-item">Favorite Color: {{myProfile.favoriteColor}}</li>
  <li class="list-group-item">Keywords: <span *ngFor="let word of myProfile.keywords">{{ word }}</span></li>
</ul>

